DB_HOST=<value>
DB_ROOT_PASSWORD=<value>
DB_DATABASE=<value>
DB_USER=<value>
DB_PASSWORD=<value>
DB_PORT=<value>

KAFKA_TO_STRIPE_TOPIC=<value>

STRIPE_SECRET_KEY=<value>
STRIPE_WEBHOOK_SIGNING_KEY=<value>

NGROK_SECRET_KEY=<value>